body{
	padding-top: 0;
	margin-top: 0;
}

.header-text {
	padding-top: 45px;
	margin-left: 100px;
	float: left;
}

#header{
	padding: 0;
	height: 150px;
}
.header-img {
	float: right;
}
.header-img img{
	height: 146px;
	padding: 1px 1px 0 0;
}

.site-name{
  font-family: 'Helvetica Neue', 'RobotoThin', sans-serif;
  font-size: 45px; letter-spacing: 1px;
  font-weight: 100;
  color: #fff;
}
.site-sub-title{
  font-family: 'Helvetica Neue', 'RobotoThin', sans-serif;
  font-size: 18px;
  margin-top: 15px;
  letter-spacing: 1px;
  color: #DDDDDD;
}
.country {
	font-weight: 900;
	letter-spaciog: 0px;
}
.partners img{
  padding: 2px;
  margin: 2px;
}
.twlogo, .intra-healthlogo, .unicef-logo{
  width: 280px;
  height: 80px;
}

#jembi {
  height: 80px;
  width: 280px;
}
#usaid, #moh{
  width: 150px;
  height: 150px;
}

